<!DOCTYPE html>
<html>
{% include "partials/head.html" %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include "partials/header.html" %}
        {% include "partials/sidebar.html" %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-md-5">
                            <div class="card card-danger" style="height:90%;">
                                <div class="card-header">
                                    <h3 class="card-title">Delete Handler</h3>
                                </div>
                                <div class="card-body">
                                  {% with errors = get_flashed_messages(category_filter=["delete"]) %}
                                    {% if errors %}
                                      <div class="alert alert-{{errors[0]}} alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <span> {{errors[1]}}</span>
                                      </div>
                                    {% endif %}
                                  {% endwith %}
                                  <div>
                                    <!-- start Delete-->
                                    {% if allfiles %}
                                    <!-- delete file section -->
                                    <!-- Delete File must be form -->

                                  <form method="post" action="{{url_for('delete_excelfile')}}">
                                    <label class="mr-sm-2 my-3">Excel Files</label>
                                    <div class="form-row align-items-center">
                                         <div class="col-auto my-1 col-8">
                                           <select class="form-control" name="deleted_file" id="delete_file_select" required="required">
                                             <option value="none">Select a table</option>
                                             {% for excelfile in allfiles %}
                                               <option value="{{excelfile.id}}" title="System Path: {{excelfile.path}}">{{excelfile.name}}</option>
                                             {% endfor %}
                                           </select>
                                         </div>
                                        <div class="col-auto my-1 col-3">
                                           <button style="width:100%;" type="submit" class="btn btn-danger" id="delete_file_btn" title="Tip: Delete a file Will delete all the sheets too">Delete</button>
                                        </div>
                                    </div>
                                  </form>



                                    <!-- delete Sheet section -->
                                      <form method="post" action="{{url_for('delete_worksheet')}}">
                                      <label class="mr-sm-2 my-3">Excel Worksheets</label>
                                      <div class="form-row align-items-center">
                                           <div class="col-auto my-1 col-8">
                                             <select class="form-control" name="worksheet_delete" id="delete_worksheet_select" required="required">
                                               <option value="none">Select a worksheet</option>
                                               {% if allsheets %}
                                                 {% for worksheet in allsheets %}
                                                   <option value="{{ worksheet.id }}" title="System Path: {{ worksheet.path }}">{{ worksheet.name }} ({{ worksheet.filename }})</option>
                                                 {% endfor %}
                                               {% endif %}
                                             </select>
                                           </div>
                                          <div class="col-auto my-1 col-3">
                                             <button style="width:100%;" class="btn btn-danger" type="submit" id="delete_worksheet_btn" title="delete a single worksheet">Delete</button>
                                          </div>
                                      </div>
                                    </form>


                                    <!-- end not empty part -->
                                    {% else %}

                                      <label class="mr-sm-2">Excel Files</label>
                                      <div class="form-row align-items-center">
                                         <div class="col-auto my-1 col-8">
                                           <select class="form-control" id="delete_file_select">
                                             <option value="none">Select a table</option>
                                           </select>
                                         </div>
                                      </div>
                                      <div class="alert alert-secondary">
                                        <span>There are no Excel files to delete.</span>
                                      </div>


                                    {% endif %}
                                    <!-- end -->
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="card card-success" style="height:90%;">
                                <div class="card-header">
                                    <h3 class="card-title">Excel File Manager</h3>
                                </div>
                                <div class="card-body">

                                    <!-- AJAX Errors -->
                                    <div id="ajax_error_label" style="display:none;" class="alert alert-danger alert-dismissible fade show">
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                      <span id="error_message"></span>
                                    </div>

                                    {% with messages = get_flashed_messages(category_filter=["upload"]) %}
                                      {% if messages %}
                                        <div class="alert alert-info alert-dismissible fade show">
                                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                                          <strong>{{messages[0]}}: </strong><br /><br /><span> {{messages[1]}}</span>
                                        </div>
                                      {% endif %}
                                    {% endwith %}
                                    <div class="text-right mb-1">
                                        <button class="btn btn-warning" onclick="$('#modal-upload-excel').modal('show')">Upload Excel</button>
                                    </div>
                                    <div class="form-group">
                                      {% if allfiles  %}


                                      <label class="mr-sm-2">Excel Files</label>
                                      <div class="form-row align-items-center">
                                         <div class="col-auto my-1 col-8">
                                           <select class="form-control" id="file_select">
                                             <option value="none">Select Excel File</option>
                                             {% for excelfile in allfiles %}
                                               <option value="{{excelfile.id}}" title="System Path: {{excelfile.path}}">{{excelfile.name}}</option>
                                             {% endfor %}
                                           </select>
                                         </div>
                                        <div class="col-auto my-1 col-3">
                                           <button style="width:100%;" class="btn btn-success" id="select_excelfile_btn" title="select sheet and click here to show all worksheets in the next Selectbox">Select File</button>
                                        </div>
                                      </div>

                                      <label class="mr-sm-2 my-3">WorkSheets</label>
                                      <div class="form-row align-items-center">
                                           <div class="col-auto my-1 col-6">
                                             <select class="form-control" id="worksheet_select">
                                               <option value="none">Select WorkSheet</option>
                                             </select>
                                           </div>
                                          <div class="col-auto my-1 col-2">
                                            <input type="number" class="form-control" id="the_pag_perpage" value="10000" placeholder="Page Limit" title="this input control rows per pages you can leave it default 10k">
                                          </div>
                                          <div class="col-auto my-1 col-3">
                                             <button style="width:100%;" class="btn btn-primary" id="render_worksheet_btn" title="Select the worksheet to be displayed below">View file</button>
                                          </div>
                                      </div>

                                      {% else %}
                                        <select class="form-control" id="ajax_time">
                                          <option value="none">Select Excel File</option>
                                        </select>
                                        <div class="alert alert-secondary">
                                          <span>0 Excel Files Found Please Upload a file.</span>
                                        </div>
                                      {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <div class="row mb-2">

                        <div class="col-md-11" style="margin-left:auto;margin-right:auto;">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Excel Sheet Editor</h3>
                                </div>
                                <!-- table --->

                                <div class="container-fluid">

                                                <h4 class="m-3" id="sheet_id_title"></h4>
                                                <div class="card" id="table_card_container">
                                                </div>
                                            </div>
                                <!-- table end -->
                                <!-- /.card-header -->
                                <!-- form start -->

                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

        </div>

        <!-- /.modal -->

        <!-- toolbar Model for cells and rows action -->

        <div class="modal fade" id="toolbar_model">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="model_column_title">Title</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">
                          <div class="text-center" id="row_dimension"></div>

                            <!-- Update cell part -->
                            <label class="mr-sm-2">Edit Cell Value</label>
                            <div class="form-row align-items-center">
                               <div class="col-auto my-1 col-8">
                                 <input type="text" id="py_editcell" value="" class="form-control">
                               </div>
                              <div class="col-auto my-1 col-3">
                                <button style="width:100%;" type="button" class="btn btn-success" id="toolbar_submit_btn" data-dismiss="modal">Submit</button>
                              </div>
                            </div>

                            <!-- Update cell part -->
                            <label class="mr-sm-5 my-2">Insert Rows</label>
                            <div class="form-row align-items-center">


                               <div class="col-auto my-1 col-4">
                                 <button style="width:100%;" type="button" class="btn btn-info disabled" id="insert_row_before">Insert Before</button>
                               </div>
                              <div class="col-auto my-1 col-4">
                                <button style="width:100%;" type="button" class="btn btn-info disabled" id="insert_row_after">Insert After</button>
                              </div>
                              <div class="col-auto my-1 col-4">
                                <button style="width:100%;" type="button" class="btn btn-info disabled" id="insert_row_into">Insert</button>
                              </div>

                              <div class="col-auto my-1 col-2" style="margin-left:auto;">
                                <button style="width:100%;" type="button" class="btn btn-secondary" id="toggler_button" title="Click to show insert inputs"><i id="toggler_i" class="fa fa-eye" aria-hidden="true"></i></button>
                              </div>
                            </div>

                            <div class="container mt-3" id="row_data_container" style="display:none;">
                              <p class="label label-alert">New Row Data</p>
                              <div class="d-flex flex-wrap bg-light" id="input_data_container">
                              </div>
                            </div>



                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" id="delete_selected_row" data-dismiss="modal">Delete Full Row</button>
                        </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- /.modal -->

        <div class="modal fade" id="modal-upload-excel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Excel Sheet</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method=post enctype="multipart/form-data" action="{{url_for('upload_file')}}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Select a excel file</label>
                                <input type="file" class="form-control" id="modal_upload_pci" name="file" required>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Submit upload</button>
                        </div>
                    </form>
                </div>


                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        {% include "partials/footer.html" %}
    </div>
    <!-- ./wrapper -->
    {% include "partials/foot.html" %}
    <!-- inventory js code 8/13/2021 lastupdate -->

    <script src="{{url_for('static', filename='main/js/inv.js')}}"></script>

</body>

</html>
